REACT_APP_USER_SERVICE_URL=http://localhost:8001/api
REACT_APP_PRODUCT_SERVICE_URL=http://localhost:8002/api
REACT_APP_INVENTORY_SERVICE_URL=http://localhost:8003/api
REACT_APP_ORDER_SERVICE_URL=http://localhost:8004/api
