APP_NAME="Order Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8004

DB_CONNECTION=mysql
DB_HOST=order-db
DB_PORT=3306
DB_DATABASE=order_service
DB_USERNAME=user
DB_PASSWORD=secret

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

MESSAGE_BROKER_DRIVER=rabbitmq

USER_SERVICE_URL=http://user-service:8001
PRODUCT_SERVICE_URL=http://product-service:8002
INVENTORY_SERVICE_URL=http://inventory-service:8003

WEBHOOK_SECRET=webhook-secret-key
